USE [master]
GO
/****** Object:  Database [FinancialCrmDb]    Script Date: 24.08.2026 11:37:01 ******/
CREATE DATABASE [FinancialCrmDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FinancialCrmDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\FinancialCrmDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FinancialCrmDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\FinancialCrmDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FinancialCrmDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FinancialCrmDb]
GO
/****** Object:  Table [dbo].[BankProcesses]    Script Date: 24.08.2026 11:37:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BankProcesses](
	[BankProcessId] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](250) NULL,
	[ProcessDate] [date] NULL,
	[ProcessType] [nvarchar](50) NULL,
	[Amount] [decimal](18, 2) NULL,
	[BankId] [int] NULL,
 CONSTRAINT [PK_BankProcesses] PRIMARY KEY CLUSTERED 
(
	[BankProcessId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banks]    Script Date: 24.08.2026 11:37:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banks](
	[BankId] [int] IDENTITY(1,1) NOT NULL,
	[BankAccountNumber] [nvarchar](50) NULL,
	[BankTitle] [nvarchar](50) NULL,
	[BankBalance] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Banks] PRIMARY KEY CLUSTERED 
(
	[BankId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bills]    Script Date: 24.08.2026 11:37:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bills](
	[BillId] [int] IDENTITY(1,1) NOT NULL,
	[BillTitle] [nvarchar](50) NULL,
	[BillAmount] [decimal](18, 2) NULL,
	[BillPeriod] [nvarchar](50) NULL,
 CONSTRAINT [PK_Bills] PRIMARY KEY CLUSTERED 
(
	[BillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 24.08.2026 11:37:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Spendings]    Script Date: 24.08.2026 11:37:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Spendings](
	[SpendingId] [int] IDENTITY(1,1) NOT NULL,
	[SpendingTitle] [nvarchar](250) NULL,
	[SpendingAmount] [decimal](18, 0) NULL,
	[SpendingDate] [date] NULL,
	[CategoryId] [int] NULL,
 CONSTRAINT [PK_Spendings] PRIMARY KEY CLUSTERED 
(
	[SpendingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 24.08.2026 11:37:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BankProcesses] ON 

INSERT [dbo].[BankProcesses] ([BankProcessId], [Description], [ProcessDate], [ProcessType], [Amount], [BankId]) VALUES (1, N' Babamdan Gelen Para', CAST(N'2026-01-06' AS Date), N'Gelen Havale', CAST(2500.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[BankProcesses] ([BankProcessId], [Description], [ProcessDate], [ProcessType], [Amount], [BankId]) VALUES (2, N'Kyk Burs Ödemesi Ocak', CAST(N'2026-01-07' AS Date), N'Gelen Havale', CAST(3000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[BankProcesses] ([BankProcessId], [Description], [ProcessDate], [ProcessType], [Amount], [BankId]) VALUES (3, N'Ablamdan gelen para', CAST(N'2026-01-08' AS Date), N'Gelen Havale', CAST(500.00 AS Decimal(18, 2)), 3)
SET IDENTITY_INSERT [dbo].[BankProcesses] OFF
GO
SET IDENTITY_INSERT [dbo].[Banks] ON 

INSERT [dbo].[Banks] ([BankId], [BankAccountNumber], [BankTitle], [BankBalance]) VALUES (1, N'0000-1234-0022-0044', N'Ziraat Bankası', CAST(1847.00 AS Decimal(18, 2)))
INSERT [dbo].[Banks] ([BankId], [BankAccountNumber], [BankTitle], [BankBalance]) VALUES (2, N'0000-1234-0022-0046', N'Vakıfbank', CAST(236.00 AS Decimal(18, 2)))
INSERT [dbo].[Banks] ([BankId], [BankAccountNumber], [BankTitle], [BankBalance]) VALUES (3, N'0000-1234-0022-0054', N'İş Bankası', CAST(2568.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Banks] OFF
GO
SET IDENTITY_INSERT [dbo].[Bills] ON 

INSERT [dbo].[Bills] ([BillId], [BillTitle], [BillAmount], [BillPeriod]) VALUES (1, N'Elektirik Faturası', CAST(360.00 AS Decimal(18, 2)), N'Ocak 2026')
INSERT [dbo].[Bills] ([BillId], [BillTitle], [BillAmount], [BillPeriod]) VALUES (2, N'Doğalgaz Faturası', CAST(750.00 AS Decimal(18, 2)), N'Ocak 2026')
INSERT [dbo].[Bills] ([BillId], [BillTitle], [BillAmount], [BillPeriod]) VALUES (3, N'Su Faturası', CAST(260.00 AS Decimal(18, 2)), N'Ocak 2026')
SET IDENTITY_INSERT [dbo].[Bills] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [CategoryName]) VALUES (1, N'Faturalar')
INSERT [dbo].[Categories] ([CategoryId], [CategoryName]) VALUES (2, N'Yeme-İçme')
INSERT [dbo].[Categories] ([CategoryId], [CategoryName]) VALUES (3, N'Spor')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Spendings] ON 

INSERT [dbo].[Spendings] ([SpendingId], [SpendingTitle], [SpendingAmount], [SpendingDate], [CategoryId]) VALUES (1, N'Migros Alışveriş', CAST(350 AS Decimal(18, 0)), CAST(N'2026-01-02' AS Date), 2)
INSERT [dbo].[Spendings] ([SpendingId], [SpendingTitle], [SpendingAmount], [SpendingDate], [CategoryId]) VALUES (2, N'Damacana Su', CAST(110 AS Decimal(18, 0)), CAST(N'2026-01-03' AS Date), 2)
INSERT [dbo].[Spendings] ([SpendingId], [SpendingTitle], [SpendingAmount], [SpendingDate], [CategoryId]) VALUES (3, N'Aylık Akbil', CAST(350 AS Decimal(18, 0)), CAST(N'2026-01-04' AS Date), 6)
SET IDENTITY_INSERT [dbo].[Spendings] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [Password]) VALUES (1, N'admin', N'1234')
INSERT [dbo].[Users] ([UserId], [Username], [Password]) VALUES (2, N'Emirhan', N'1234')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[BankProcesses]  WITH CHECK ADD  CONSTRAINT [FK_BankProcesses_Banks1] FOREIGN KEY([BankId])
REFERENCES [dbo].[Banks] ([BankId])
GO
ALTER TABLE [dbo].[BankProcesses] CHECK CONSTRAINT [FK_BankProcesses_Banks1]
GO
ALTER TABLE [dbo].[Spendings]  WITH CHECK ADD  CONSTRAINT [FK_Spendings_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Spendings] CHECK CONSTRAINT [FK_Spendings_Categories]
GO
USE [master]
GO
